body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
  
.loadingSpinner {
  width: 100%;
  text-align: center;
  margin: 50%;
}

.sideBarWrapper {
  height: calc(100% - 100px - 1rem);
  position: fixed;
  top: 0px;
  left: 0px;
  border: 1px solid #b0b0b0;
  box-shadow: 1px 0px 4px 0px #878787;
  width: 20%;
  float: left;
  padding: 15px;
  margin: 100px 20px 0px 15px;
}

.messageListWrapper {
  margin-left: calc(20% + 2rem);
  position: fixed;
  height: 100%;
  width: -webkit-fill-available;
}

.newMsgFormWrapper {
  position: fixed;
  bottom: 6rem;
  height: 30px;
  width: 100%;
}

.msgInput {
  text-align: left;
  width: 70% !important;
  display: inline-block !important;
  box-shadow: 1px 0px 4px 0px #878787;
}

.msgList {
  height: 75%;
  overflow-y: scroll;
  border: 1px solid #b0b0b0;
  box-shadow: 1px 0px 4px 0px #878787;
  line-break: auto;
  overflow-wrap: break-word;
  margin-right: 1rem;
}

.sendBtn {
  position: fixed;
  bottom: 30px;
  height: 50px;
  margin: 0 1rem;
  width: 7%;
}

.closeBtn {
  position: fixed;
  right: 1rem;
  margin: 20px;
  z-index: 1;
}

.newConvWrapper {
  height: 100px;
  margin: 0;
}

.newConvInput {
  width: 225px !important;
  display: inline-block !important;
  margin: 25px 20px 10px 17px;
  height: 50px !important;
}

.newConvBtn {
  width: 5rem;
}